.app {
  background-color: #1d2527;
  border-color: rgb(204, 185, 16);
  border-style: solid;
  border-width: 5px;
  width: 784px;
  height: 789px;
  margin: 0 auto;
  text-align: center;
}

.container {
  width: 60%;
  height: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.app > .container > div {
  margin-bottom: 40px;
}

.instructions {
  color: #e6e6e6;
  font-family: "roboto", sans-serif;
  font-weight: 200;
  font-size: 0.9em;
  padding: 0.2em 1em;
  border-radius: 8px;
  background-color: #2e3537;
  margin-top: 2em;
}

.grid-wrapper {
  background-color: #283538;
  margin: 0 auto;
  aspect-ratio: 1 / 1;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border: 1.2px solid rgba(122, 128, 135, 0.3);
}

tr {
  width: 100%;
  height: 20%;
}

td {
  width: 20%;
  height: 20%;
  padding: 0;
  /* bottom and right border only */
  border-bottom: 2px solid #666667;
  border-right: 2px solid #666667;
}
td:last-child {
  border-right: none;
}

tr:last-child td {
  border-bottom: none;
}

tr:last-child td:last-child {
  border-bottom: none;
}

td button {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  /* center vertically and horizontally */
  align-items: center;
  flex-direction: column;
}

td button:hover {
  background-color: #4b4c5e;
}

.options {
  margin: 24px auto;
  border-radius: 8px;

  box-sizing: border-box;
  padding: 2% 10%;

  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.options button {
  background-color: #1db6c2;
  font-family: "roboto", sans-serif;
  width: 30%;
  border-radius: 10px;
  border: none;
  height: 40px;
}

.options button:hover {
  background-color: #747bff;
}

.report {
  padding-bottom: 20em;
}
.report button {
  border-color: #10829b;
  background-color: #283538;
  color: #e6e6e6;
  border-style: solid;
  border-width: 2px;
  width: 40%;
  border-radius: 10px;
  height: 40px;
}

button:hover {
  background-color: #747bff;
  cursor: pointer;
}
